@model MvcSolar.Models.Avaria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Avaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.HabitacaoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AvariaID">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
