@model IEnumerable<MvcSolar.Models.Avaria>

@{
    ViewData["Title"] = "Index";
}

<h1>Avarias</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Data)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacao.HabitacaoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvariaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AvariaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AvariaID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
