@model IEnumerable<MvcSolar.Models.Localidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concelho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concelho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocalidadeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocalidadeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocalidadeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
