@model MvcSolar.Models.ConsumoEnergetico

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Tem a certeza que quer apagar?</h3>
<div>
    <h4>ConsumoEnergetico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.HabitacaoID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConsumoEnergeticoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
