@model IEnumerable<MvcSolar.Models.Painel>

@{
    ViewData["Title"] = "Index";
}

<h1>Painéis</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pesquisar por modelo: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-default" /> |
            <a asp-action="Index">Voltar</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProducaoPrevistaHora)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Modelo)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"> @Html.DisplayNameFor(model => model.Estado)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProducaoPrevistaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitacao.HabitacaoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PainelID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PainelID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PainelID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
