@model MvcSolar.Models.Meteorologia

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Tem a certeza que quer apagar?</h3>
<div>
    <h4>Meteorologia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkyCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkyCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProbPrecipitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProbPrecipitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunrise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunrise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunset)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MeteorologiaID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
