@model IEnumerable<MvcSolar.Models.Meteorologia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeatherType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkyCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProbPrecipitacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunrise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sunset)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkyCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProbPrecipitacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunrise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sunset)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeteorologiaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeteorologiaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeteorologiaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
