<head>
    <meta charset="UTF-8">
    <title>loadmapasyncHTML</title>
    <style type='text/css'>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif
        }
    </style>
</head>
<body scroll="yes" style="overflow: scroll">


<br/>

<div class="row">
    <div class="column">
        <img src="@Url.Content("~/Images/bateria.png")" width="200" height="50"/>
    </div>
    <div class="column" style="margin-left: 30px">
        <h2>Bateria: @ViewBag.dashboard.casa.Bateria Kw</h2>
    </div>
    <div class="column" style="margin-left: 50px">
        <img src="@Url.Content("~/Images/producao.png")" width="50" height="50"/>
    </div>
    <div class="column" style="margin-left: 30px">
        <h2>Producao Atual: @ViewBag.dashboard.prodAtual Kw/h</h2>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">


    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("ConsumoEnergeticoGrafico", "ConsumoEnergeticos")',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                GraficoPopulacional(data);
                return false;
            }
        });
        return false;
    }

    function GraficoPopulacional(data) {
        var dataArray = [
            ['Data', 'Consumo']
        ];
        $.each(data,
            function(i, item) {
                dataArray.push([item.data, item.consumo]);
            });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Consumo Energetico',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#ffab91'],
            hAxis: {
                title: 'Dia',
                minValue: 0
            },
            vAxis: {
                title: 'Valor em watts'
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        return false;
    }
</script>


@{
    <br/>

    <br/>
    <br/>
    @foreach (var painel in ViewBag.dashboard.paineis)
    {
        <div class="row">
            <div class="column">
                <img src="~/Images/download.png" width="150" height="150"/>
            </div>


            <div class="column" style="margin-left: 50px">
                <h3>Id: @painel.PainelID</h3>
                <h3>Producao prevista: @painel.ProducaoPrevistaHora Kw/h</h3>
                <h3>Modelo: @painel.Modelo</h3>
                <h3>Estado: @painel.Estado</h3>
            </div>
        </div>

        <br/>
    }
}

<br/>
<br/>
<br/>

</body>